<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Learn more about Zone Theory.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <img class="img-responsive" src="img/about/david-liebe-hart.jpeg" />
                </div>
                <div class="col">
                    Cooke's Concrete was founded in 2019 by John Cooke. A picture of John is shown to the left.
                </div>
            </div>
        </div>
    </section>