 <!-- Portfolio Modals -->
 {% for project in site.projects %}
    <div class="portfolio-modal modal fade" id="project-{{ project.uid | slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.title }}</h2>
                            <hr class="star-primary">
                            <p>{{ project.content | markdownify }}</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>{{ project.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>{{ project.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            {% for item in project.img %}
                              <img src="img/portfolio/{{ item }}" class="img-responsive img-centered" alt="{{ project.alt }}">
                            {% endfor %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
