<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">
                    Providing high quality custom concrete solutions.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="service">
                    <img class="serviceimage" src="img/services/cfrc.jpg" />
                </span>
                <h4 class="service-heading">Glass Fibre Reinforced Concrete</h4>
                <p class="text-muted">
                    Custom GFRC countertops, fireplaces, vanities, and furniture.
                </p>
            </div>
            <div class="col-md-4">
                <span class="service">
                    <img class="serviceimage" src="img/services/microcement3.png" />
                </span>
                <h4 class="service-heading">Microcement</h4>
                <p class="text-muted">
                    Accent walls, floors, stairs, indoor and outdoor repairs.
                </p>
            </div>
            <div class="col-md-4">
                <span class="service">
                    <img class="serviceimage" src="img/services/custom.jpg" />
                </span>
                <h4 class="service-heading">Custom Requests</h4>
                <p class="text-muted">
                    Contact me with your projects.
                </p>
            </div>
        </div>
    </div>
</section>
